<form class="web-property" [formGroup]="form" data-testid="web-get-text-form">
  <h3>{{ 'web.getText.title' | translate }}</h3>
  <app-expression-input
    inputId="web-get-text-selector"
    [label]="'web.field.selector' | translate"
    [placeholder]="'web.field.selectorPlaceholder' | translate"
    [required]="true"
    formControlName="selector"
    [invalid]="selectorControl.invalid && selectorControl.touched"
    [errorMessage]="'web.error.required' | translate"
    [hint]="'web.hint.selectorFormat' | translate"
    [variables]="variables"
  ></app-expression-input>
  <app-expression-input
    inputId="web-get-text-wait-selector"
    [label]="'web.field.waitSelector' | translate"
    [placeholder]="'web.field.selectorPlaceholder' | translate"
    [hint]="'web.hint.selectorFormat' | translate"
    formControlName="waitSelector"
    [variables]="variables"
  ></app-expression-input>
  <div class="web-property__field">
    <label for="web-get-text-output-variable">
      {{ 'web.field.outputVariable' | translate }}
      <span aria-hidden="true">*</span>
    </label>
    @if (variableOptions.length > 0) {
      <select
        id="web-get-text-output-variable"
        data-testid="web-get-text-output-variable-select"
        formControlName="outputVariable"
        [attr.aria-label]="'web.field.outputVariable' | translate"
        aria-required="true"
        [attr.aria-invalid]="outputVariableControl.invalid && outputVariableControl.touched"
      >
        <option value="">{{ 'web.field.outputVariablePlaceholder' | translate }}</option>
        @for (variable of variableOptions; track variable.name) {
          <option [value]="variable.name">{{ variable.name }}</option>
        }
      </select>
    } @else {
      <input
        id="web-get-text-output-variable"
        type="text"
        data-testid="web-get-text-output-variable-input"
        formControlName="outputVariable"
        [placeholder]="'web.field.outputVariablePlaceholder' | translate"
        [attr.aria-label]="'web.field.outputVariable' | translate"
        aria-required="true"
        [attr.aria-invalid]="outputVariableControl.invalid && outputVariableControl.touched"
      />
    }
    @if (outputVariableControl.invalid && outputVariableControl.touched) {
      <p class="web-property__error" role="alert">{{ 'web.error.invalidVariableName' | translate }}</p>
    }
  </div>
</form>
