<div
  class="structured-sequence"
  cdkDropList
  [cdkDropListData]="items"
  [cdkDropListDisabled]="!editable"
  (cdkDropListDropped)="drop.emit($event)"
>
  @for (item of items; track $index) {
    <app-structured-item
      [item]="item"
      [editable]="editable"
      [selectedRef]="selectedRef"
      [first]="$first"
      [last]="$last"
      cdkDrag
      [cdkDragData]="item"
      [cdkDragDisabled]="!editable"
      (action)="action.emit($event)"
      (drop)="drop.emit($event)"
      (select)="select.emit($event)"
    ></app-structured-item>
  }
  @if (items.length === 0) {
    <p class="structured-sequence__empty" data-testid="sequence-empty">{{ 'structured.empty' | translate }}</p>
  }
</div>
