<aside
  class="properties-panel"
  data-testid="properties-panel"
  [attr.aria-label]="'properties.panel.ariaLabel' | translate"
>
  @if (!activityType) {
    <p class="properties-panel__empty" data-testid="properties-panel-empty">
      {{ 'properties.panel.empty' | translate }}
    </p>
  } @else if (isWebActivity) {
    <app-web-property-router
      [activityType]="activityType"
      [properties]="properties"
      [variables]="variables"
      (propertiesChange)="onPropertiesChange($event)"
    ></app-web-property-router>
  } @else {
    <app-generic-property
      [activityType]="activityType"
      [properties]="properties"
      [variables]="variables"
      (propertiesChange)="onPropertiesChange($event)"
    ></app-generic-property>
  }
</aside>
